.footer {
    background-color: #055529;
    overflow: hidden;
    position: static;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    z-index:1;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    margin: 0;
}

.footLink {
    color: white;
    text-decoration: none;
    font-size: .8rem;
    margin: 1rem;
}

@media screen and (max-width: 600px) {
    .footer {
        font-size: 12px;
    }
}